* {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4, 9, 30, 0.7)),url(./brooke-cagle-NoRsyXmHGpI-unsplash\ 1.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  width: fit-content;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-links {
  flex: 1;
  text-align: right;
  transition: 1s;
}

.nav-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-links ul li {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}


.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 1px;
  background: #4d5d53;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

#CloseIcon {
  display: none;
  max-width: 30px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

#Menu-bar {
  display: none;
  max-width: 30px;
  cursor: pointer;
}


.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-box h2 {
  font-size: 31px;
  margin: 0 0 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-box p {
  margin: 10px 0 0px;
  font-size: 14px;
  color: #ffffff;
  font-style: arial;
}

#phide {
  margin: 0px 0 40px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 12px 34px;
  font-size: 13px;
  background-color: #4d5d53;
  position: relative;
  cursor: pointer;

}

.hero-btn:hover {
  border: 1px solid #ffffff;
  background-color: #4d5d53;
  transition: 50ms;
}


/* Coures section */
.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1{
  font-size: 62px;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  color: #777;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  font-style: arial;
  
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.column{
  flex-basis: 31%;
  background: #dbead2;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.column:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0,0, 0.2);
}

img{
  max-width: 300px;
  border-radius: 5px;
  box-sizing: border-box;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}


h3 a{
  padding: 20px 12px;
  border-radius: 10px;
  margin-bottom: 5%;
  background-color: #dbead2;
  color: #000000;
  text-decoration: none;
  margin: 10px 10px 10px;
  transition: 0.5s;

}
h3 a:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0,0, 0.2);
}


 /* subscribe section  */
.subscribe-view{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

/* FAQ section */
.faq-section{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.faq-section h2{
  font-size: 31px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.faq-section h3{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.parent-container {
  padding: 20px;
  max-width: 1000px;
  width: 100%;
  text-align: left;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.faq {
  list-style: none;
  padding-left: 0;
}
.faq {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.faq li {
  border-bottom: 1px solid #999999;
  margin-bottom: 15px;
  position: relative;
  padding: 10px 20px;
  background: #fafafa;
  border-radius: 8px;
  transition: background 0.3s ease;
}
.faq li:last-child {
border-bottom: none;
}

.faq li.active .answer {
max-height: 275px !important;
padding-bottom: 25px;
transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.faq li.active .question {
color: #808080;
transition: color 0.5s ease;
}

.answer {
color: #090909;
font-family: serif;
font-size: 16px;
line-height: 24px;
max-height: 0;
overflow: hidden;
transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.plus-minus-toggle {
cursor: pointer;
height: 21px;
position: absolute;
width: 21px;
left: 10px;
top: 50%;
z-index: 2;
transform: translateY(-50%);
}

.plus-minus-toggle:before,
.plus-minus-toggle:after {
  background: #000;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
  transition: transform 500ms ease;
}
.plus-minus-toggle:after {
transform-origin: center;
}

.plus-minus-toggle.collapsed:after {
transform: rotate(90deg);
}

.plus-minus-toggle.collapsed:before {
transform: rotate(180deg);
}

.question {
color: #090909;
font-size: 20px;
font-weight: 800;
text-transform: uppercase;
cursor: pointer;
padding: 20px 0;
transition: color 0.5s ease;
padding-left: 50px;
}

/* Footer Section */

.footer {
  background:#26272b;
  color:#737373;
  font-family: Arial, sans-serif;
  padding: 20px 0;
  position: relative;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 20px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color:#fff;
}
.footer-section h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}


.footer-section p, .footer-section a {
  font-size: 14px;
  color: #9c9797;
  line-height: 1.5;
  text-decoration: none;
}

.footer-section a:hover {
  color: #4d5d53;
  transition: 0.3s;
}

.footer-section .contact p, .footer-section .social-icons a {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.footer-section.social {
  text-align: left;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; 
}

.social-icons  {
  display: flex;
  align-items: center;
  justify-content: left;
}

.social-icons img{
  align-items: center;
  max-width: 40px;
  display: flex;
}

.footer-section .social-icons a {
  font-size: 18px;
  margin-right: 10px;
  color: #333;
}

.footer-section .social-icons a:hover {
  color: #4d5d53;
  transition: 0.3s;
}

.footer-bottom {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 50%;
  background: #4d5d53;
}


@media (max-width: 768px) {
  .text-box h1 {
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
  }

  .text-box h2 {
      font-size: 10px;
      margin: 0 0 20px;
      font-family: Arial, Helvetica, sans-serif;
  }

  .text-box p {
      margin: 5px 0 20px;
      font-size: 14px;
      color: #ffffff;
      font-style: arial;
  }

  #phide {
      display: none;
  }

  #Menu-bar {
      display: block;
      margin: 10px;
  }

  .nav-links {
      position: fixed;
      background: #4d5d53;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -250px; 
      text-align: left;
      z-index: 2;
      transition: right 0.5s ease;
  }

  .nav-links ul li {
      display: block;
      padding: 30px;
  }
  
  .hero-btn {
      margin: 30px;
      position: fixed;
      display: inline-block;
      text-decoration: none;
      color: #fff;
      border: 1px solid #000;
      padding: 12px 34px;
      font-size: 13px;
      background-color: #4d5d53;
      position: relative;
      cursor: pointer;
  }

  h1 {
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
  }

  p {
      color: #777;
      padding: 10px;
      font-size: 10px;
      font-weight: 300;
      font-style: arial;
  }

  h3 {
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-weight: 600;
      margin: 10px 0;
  }

  h3 a {
      padding: 20px 12px;
      border-radius: 10px;
      margin-bottom: 5%;
      background-color: #fff3f3;
      color: #000000;
      text-decoration: none;
      margin: 10px 10px 10px;
      transition: 0.5s;
  }

  img {
      max-width: 250px;
      border-radius: 5px;
      box-sizing: border-box;
  }

  .row {
      flex-direction: column;
      margin-bottom: 10%;
  }
  .faq-section h1{
    font-size: 30px;
    margin: 10px;
  }

  .faq-section h2 {
      font-size: 24px;
      margin: 10px;
  }

  .parent-container {
      padding: 0 10px;
      max-width: 100%;
      width: 100%;
      margin: 10px auto;
  }

  .faq li {
      padding: 10px;
      margin-bottom: 10px;
  }

  .plus-minus-toggle {
      left: 5px; 
  }

  .question {
      font-size: 15px;
      padding-left: 35px;
  }

  .answer {
      font-size: 12px;
      padding-left: 18px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

.footer-section {
    margin-bottom: 20px;
  }

.footer-section.social .social-icons {
    justify-content: center;
  }
}



